---
layout: default
---

<div class="home">

  
  <h1 class="page-heading">:wave: Hello </h1>

  <div class="">
      <p>I'm Johan Hammar, a software engineer from Sweden.</p>

    <p>Follow me 

    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include twitter.svg %}</span></a>
    {% endif %}

    {% if site.linkedin_username %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><span class="icon icon--linkedin">{% include linkedin.svg %}</span></a>
    {% endif %}

    {% if site.github_username %}
    <a href="https://www.github.com/{{ site.github_username }}"><span class="icon icon--github">{% include github.svg %}</span></a>
    {% endif %}

    {% if site.dev_username %}
    <a href="https://www.dev.to/{{ site.dev_username }}"><span class="icon icon--dev">{% include dev.svg %}</span></a>
    {% endif %}

    {% if site.goodreads_username %}
    <a href="https://www.goodreads.com/{{ site.goodreads_username }}"><span class="icon icon--goodreads">{% include goodreads.svg %}</span></a>
    {% endif %}
    </p>

    </p>

  </div>

  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
      <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

        <!-- <h2> -->
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <!-- </h2> -->
      </li>
    {% endfor %}
  </ul>

</div>
