---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    <!-- Currently reading -->
    <div id="gr_grid_widget_currently_reading">
      <h2>
        <a class="goodreads_link" rel="nofollow" href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=currently-reading">I'm currently reading</a>
      </h2>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.I'm%20currently%20reading?cover_size=medium&hide_link=true&hide_title=&num_books=200&order=a&shelf=currently-reading&sort=date_added&widget_id=currently_reading"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Currently reading -->

    <!-- Read 2026 -->
    <div id="gr_grid_widget_read_2026">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2026&per_page=40">Books read in
          2026</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202025?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2025&sort=date_added&widget_id=read_2025"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2026-->

    <!-- Read 2025 -->
    <div id="gr_grid_widget_read_2025">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2025&per_page=40">Books read in
          2025</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202025?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2025&sort=date_added&widget_id=read_2025"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2025-->

    <!-- Read 2024 -->
    <div id="gr_grid_widget_read_2024">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2024&per_page=40">Books read in
          2024</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202024?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2024&sort=date_added&widget_id=read_2024"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2024-->

    <!-- Read 2023 -->
    <div id="gr_grid_widget_read_2023">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2023&per_page=40">Books read in
          2023</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202023?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2023&sort=date_added&widget_id=read_2023"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2023-->

    <!-- Read 2022 -->
    <div id="gr_grid_widget_read_2022">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2022&per_page=40">Books read in
          2022</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202022?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2022&sort=date_added&widget_id=read_2022"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2022 -->

    <!-- Read 2021 -->
    <div id="gr_grid_widget_read_2021">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2021&per_page=40">Books read in
          2021</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202021?cover_size=medium&hide_link=true&hide_title=&num_books=40&order=a&shelf=2021&sort=date_added&widget_id=read_2021"
      type="text/javascript" charset="utf-8"></script>
    <br style="clear: both" />
    <!-- End Read 2021 -->

    <!-- Read 2020 -->
    <div id="gr_grid_widget_read_2020">
      <h2>
        <a class="goodreads_link"  rel="nofollow"
          href="https://www.goodreads.com/review/list/5527890-johan-hammar?shelf=2020&per_page=40">Books read in
          2020</a>
      </h2>
      <div class="gr_grid_container">
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Johan, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>
    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/5527890.Books%20read%20in%202020?cover_size=medium&hide_link=&hide_title=&num_books=40&order=a&shelf=2020&sort=date_added&widget_id=read_2020"
      type="text/javascript" charset="utf-8"></script>
    <!-- End Read 2020 -->

  </div>

</article>
